<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">ODS Manager</a>
</nav>


<div class="container" id="main-container">
  <div id="pdfTable" #pdfTable>
<div class="row">
  <div style = "visibility : hidden"> [ </div>
  <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
   
     <div class="card m-b-30">
     
        <!-- <ul class="list-group list-group-flush"> -->
           <div class="list-group-item"><i class="fa fa-envelope float-right"></i>{{"{  Record level identifier } : {"}} {{employee?.employeeCode +" },"}}</div>
           <div class="list-group-item"><i class="fa fa-envelope float-right"></i> {{"{  barcode } : {"}} {{   employee?.employeeCode +" },"}}</div>
           <!-- <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{employee?.address1}}</li>
           <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{employee?.city}}</li>
           <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{employee?.zip}}</li>
           <li class="list-group-item"><i class="fa fa-phone float-right"></i>{{employee?.state}}</li> -->
           <li class="list-group-item"><i class="fa fa-phone float-right"></i> {{"{ company } : {"}}  {{employee?.company +" },"}}</li>
           <li class="list-group-item"><i class="fa fa-envelope float-right"></i> {{"{ name } : {"}}  {{employee?.name+" },"}}</li>
        <!-- </ul> -->
     </div>
     <div>  </div>
  </div>
  <div style = "visibility : hidden"> ] </div>
</div>

</div>
<form #addForm="ngForm" (ngSubmit)="onAddEmloyee(addForm)">
  <div class="form-group">
     <label for="name"></label>
     <input style="height: 250px; width: 875px;" type="text" ngModel name="name"  class="form-control" id="name"  placeholder="Enter Json File here:" required>
     <!-- <textarea></textarea> -->
  </div>
 
  <div class="modal-footer">
     <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
  </div>
  </form>
  <button class="btn btn-primary" (click)="downloadAsPDF();">Export To PDF</button>
  </div>
  
